<nav>
    <div>
        <ul>
            <li class="nav-item" id="name">
                <a id="name" href="/">Arianne</a>
            </li>
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a
                    class="{% if page.url == item.link + ".html" %}nav-active-link{% endif %}"
                    href="{{item.link}}"
                >
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
