$background-color: #222831;
$secondary-color: #414591;
$primary-color: #034696;
$foreground-color: #eeeeee;
$card-border-color: rgba(230, 230, 230, 0.1);
$card-color: rgba(230, 230, 230, 0.15);
$card-hover-color: rgba(0, 0, 0, 0.15);

.about-me {
    border-top: 0.25rem solid $card-border-color;
    border-bottom: 0.25rem solid $card-border-color;
    padding: 2rem;
}
