$primary-color: #e491c9;
$primary-color-hover: #cf82b6;
$foreground-color: #ffffff;
$card-border-color: rgba(230, 230, 230, 0.1);
$card-color: rgba(230, 230, 230, 0.15);
$card-hover-color: rgba(0, 0, 0, 0.15);

.cards-list {
    border-top: 0.25rem solid $card-border-color;
    border-bottom: 0.25rem solid $card-border-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 1rem;
}

.card {
    border: 0.15rem solid $card-border-color;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: $card-color;
    transition: box-shadow 200ms ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    background-color: $card-hover-color;
    transition: box-shadow 200ms ease-in-out;
}

.card img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.card h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

.card-title {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    border-bottom: 0.15rem solid $card-border-color;
}

.card-footer {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    margin-top: auto;
    border-top: 0.15rem solid $card-border-color;
}

.card-content {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 601px) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
    }
}

@media screen and (min-width: 1200px) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
    }
}

@media screen and (min-width: 2000px) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
    }
}
