$primary-color: #fc5ab9;
$primary-color-hover: #fc2aa5;
$foreground-color: #333333;
$card-border-color: rgba(230, 230, 230, 0.41);
$card-color: rgba(230, 230, 230, 0.4);
$card-hover-color: rgba(230, 230, 230, 0.15);

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-VariableFont_wght.ttf");
}

.card * {
    font-family: "Cormorant";
    font-weight: bold;
}

.cards-list {
    border-top: 0.25rem solid $foreground-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    padding: 1rem;
}

.card {
    border: 0.1rem solid $card-border-color;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: $card-color;
    transition: box-shadow 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    height: 100%;
}

.card > a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    background-color: $card-hover-color;
    transition: box-shadow 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.card img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.card h1 {
    font-size: 1.5rem;
}

.card-title {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    border-bottom: 0.1rem solid $card-border-color;
}

.card-footer {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    margin-top: auto;
    border-top: 0.1rem solid $card-border-color;
}

.card-content {
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1;
}

@media screen and (min-width: 601px) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
    }
}

@media screen and (min-width: 1200px) {
    .cards-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 2000px) {
    .cards-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 2500px) {
    .cards-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 3000px) {
    .cards-list {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 3500px) {
    .cards-list {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media screen and (min-width: 4000px) {
    .cards-list {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media screen and (min-width: 4500px) {
    .cards-list {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media screen and (min-width: 5000px) {
    .cards-list {
        grid-template-columns: repeat(10, 1fr);
    }
}
