$background-color: #222831;
$secondary-color: #414591;
$primary-color: #034696;
$foreground-color: #eeeeee;
$card-border-color: rgba(230, 230, 230, 0.1);
$card-color: rgba(230, 230, 230, 0.15);
$card-hover-color: rgba(0, 0, 0, 0.15);

@media screen and (max-width: 1199px) {
    .cards-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.cards-list {
    border-top: 0.25rem solid $card-border-color;
    border-bottom: 0.25rem solid $card-border-color;
}

.card img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.card {
    border: 0.15rem solid $card-border-color;
    border-radius: 0.5rem;
    margin: 1rem;
    overflow: hidden;
    background-color: $card-color;
    transition: box-shadow 200ms ease-in-out;
}

.card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    background-color: $card-hover-color;
    transition: box-shadow 200ms ease-in-out;
}

.card h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

.card-title {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    border-bottom: 0.15rem solid $card-border-color;
    font-size: 1.5rem;
    font-weight: normal;
}

.card-footer {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0;
    border-top: 0.15rem solid $card-border-color;
}

.card-content {
    padding: 1rem;
    padding-top: 0;
}
