$primary-color: #fc5ab9;
$primary-color-hover: #fc2aa5;
$foreground-color: #333333;
$card-border-color: rgba(230, 230, 230, 0.41);
$card-color: rgba(230, 230, 230, 0.4);
$card-hover-color: rgba(230, 230, 230, 0.15);

@font-face {
    font-family: "Tangerine";
    src: url("../fonts/Tangerine/Tangerine-Regular.ttf");
}

footer p {
    text-align: center;
}

footer a,
footer a:visited {
    color: $foreground-color;
}

footer a:hover {
    color: $primary-color-hover;
    text-decoration: underline;
}

footer {
    margin-top: 10rem;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-item {
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
    padding: 1rem;
}

.footer-item a:hover {
    color: $primary-color;
}

@media screen and (min-width: 601px) {
    footer ul {
        flex-direction: row;
    }

    .footer-item {
        margin-top: 3rem;
    }
}
