$background-color: #222831;
$secondary-color: #31363f;
$primary-color: #e491c9;
$primary-color-hover: #cf82b6;
$foreground-color: #eeeeee;

@font-face {
    font-family: "Tangerine";
    src: url("../fonts/Tangerine/Tangerine-Regular.ttf");
}

footer p {
    text-align: center;
}

footer {
    margin-top: 10rem;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.footer-item {
    text-align: center;
    margin-bottom: auto;
    padding: 1rem;
}

.footer-item a:hover {
    color: $primary-color;
}

@media screen and (max-width: 500px) {
    footer ul {
        flex-direction: column;
    }

    .footer-item {
        margin-top: 0;
    }
}

@media screen and (min-width: 501px) {
    footer ul {
        flex-direction: row;
    }

    .footer-item {
        margin-top: 3rem;
    }
}
