$background-color: #2f5249;
$secondary-color: #31363f;
$primary-color: #e491c9;
$foreground-color: #eeeeee;

@use "navigation";
@use "card";
@use "article";
@use "footer";
@use "about-me";

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-VariableFont.ttf");
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/Cormorant/Cormorant-VariableFont_wght.ttf");
}

:root {
    font-family: "Roboto", sans-serif;
}

::selection {
    background: $primary-color;
}

body {
    margin: 0;
    background: #731f64;
    background: linear-gradient(
        145deg,
        rgba(115, 31, 100, 1) 0%,
        rgba(65, 69, 145, 1) 50%,
        rgba(162, 60, 176, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $foreground-color;
}

a:visited {
    color: $foreground-color;
}

a {
    color: $foreground-color;
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
    .section-title {
        font-family: "Cormorant", sans-serif;
        margin-left: 2rem;
        font-size: 6em;
    }
}

@media screen and (max-width: 1199px) {
    .section-title {
        font-family: "Cormorant", sans-serif;
        font-size: 3em;
        text-align: center;
    }
}
