$primary-color: #e491c9;
$primary-color-hover: #cf82b6;
$foreground-color: #ffffff;
$card-border-color: rgba(230, 230, 230, 0.1);
$card-color: rgba(230, 230, 230, 0.15);
$card-hover-color: rgba(0, 0, 0, 0.15);

@font-face {
    font-family: "Tangerine";
    src: url("../fonts/Tangerine/Tangerine-Regular.ttf");
}

#name {
    font-family: "Tangerine", sans-serif;
    font-size: 5rem;
    margin-top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-item {
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
    padding: 1rem;
}

.nav-item a:hover {
    color: $primary-color;
}

.nav-active-link,
.nav-active-link:visited {
    color: $primary-color;
}

.nav-active-link:hover {
    color: $primary-color-hover;
}

@media screen and (min-width: 601px) {
    nav ul {
        flex-direction: row;
    }

    .nav-item {
        margin-top: 3rem;
    }
}
